* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.levels {
  display: flex;
  flex-direction: row;
}

.difficulty {
  margin: 0 5px 20px 0;
}

.tile {
  width: 100px;
  height: 100px;
  content: "";
  padding: 50px;
  margin: 2px 2px;
  cursor: pointer;
}
.tile.blink {
  animation: 1s blink ease-in-out 1;
}

.container{
  width: 216px;
  flex-wrap: wrap;
  display: flex;
}
.container.avoid-tap {
  pointer-events: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
